* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    overflow-x: hidden;
}

/*header*/

header {
    width: 100%;
    float: left;
    background-color: aquamarine;

}


header .linha-azul{
    width: 99.9;
    height: 70px;
    border: 1px solid black;
    
    margin-top: 100px;
    background-color: #0075FF;
}

header nav ul li{
    list-style-type:none;
    margin-top: 65px;
margin-left: 300px;
}

header nav ul li a{
    color: white;
    text-decoration: none;
}

header nav ul li a:hover{
    text-decoration: underline;
}

header .search-bar{
    float: right;
    width: 35%;
    margin-top: 15px;
    margin-right: 25px;
}
header .search-bar input{
    width: 92%;
    height: 26px;
 
}

header .search-bar .lupa{
    width: 25px;
    background-color: white;
    height: 30px;
    margin-right: 6px;
    float: right;
    border-radius: 10%;
}

header .search-bar .lupa button{
    width: 100%;
    height: 100%;
}
#icone {
	cursor: pointer;
	padding: 15px;
	position: absolute;
	z-index: 601;
}

#check{
	display: none;
	background-color: #f00;
    z-index: 600;
    
}


.barra{
	background-color: #333;
	height:400px;
	width: 300px;
	position: absolute;
	left: -300px;
	transition: all .2s linear;
    z-index: 500;
   
}

.barra .link{
	list-style: none;
	background-color: #494950;
}

nav{
	width: 100%;
	position: absolute;
	top: 60px;
}
nav a{
	text-decoration: none;
}

.link{
	color: #f4f4f9;
	font-family: 'Arial';
	font-size: 12pt;
	padding: 20px;
	border-bottom: 2px solid #222;
	transition:  all .2s linear;
	opacity: 0;
	margin-top: 200px;
}
.link:hover{
	background-color: #0236b3;
}

#check:checked ~ .barra nav a .link{
		opacity: 1;
		margin-top: 0;
		transition-delay: .2s;
}
#check:checked ~ .barra{
		transform: translateX(300px);

}
/*header*/


main {
    width: 70%;
    height: auto;
    display: block;
    float: left;

    background-color: #C1E9FF;

    background-color:#E4E5FD;


}
.noticias section{
display: inline-block;
margin-left: 70px;
}

.noticias section p{
    width: 200px;
    text-align: justify;
}

.list-group{
    z-index: 499;
}

aside {
    width: 378px;
    height: 1084.5px;
    
    display: block;
    float: left;

    background-color: #0075FF;

  background-color:#0DBAFF ;


}
.jogador{
    margin-top: 80px;
    margin-left: 40px;
    color: white;
}
aside img{
    margin-right: 15px;
    margin-top: 10px;
}

@media only screen and (max-width: 1196px){
    .jogador{
        display: inline-block;
    }
    main{
        width: 100%;
    }
    aside{
        width: 100%;
    }
}

footer {
    width: 100%;
    height: 250px;
    float: left;
    display:flex;
    background-color: #2b4c9d;
}


/*CSGO*/
.csgo{
    width: 30%;
    height: 1160px;
    margin-left: 0px;
    display: block;
    float: left;
  

}
.novidades{
    width: 100%;
    height: 80px;
    background-color: #941717;
}

.csgologo{
    width: 62%;
    height: 230px;
    margin-top: 10px;
    margin-left: 72px;
}

.novidades h1{
    color: white;
    margin-left: 85px;
    margin-top: 16px;
    font-size: 42px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.texto h2{
    color: white;
    margin-left: 80px;
    margin-top: 10px;
    font-size: 40px;
}

.texto p{
    text-align: center;
    color: white;
    margin-right: 5px;
    font-size: 20px;
}

.nav{
    margin-top: -51px;
}

.leiamais{
    width: 100%;
    height: 80px;
    background-color: #941717;
    position: relative;
    top: 50px;
}

.leiamais h1{
    color: white;
    margin-left: 95px;
    margin-top: 16px;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.caixaazul{
    background-color: #0236BA;
    width: 80%;
    height: 580px;
    margin-left: 35px;
    margin-top: 70px;
}

.caixaazul ul li{
    overflow-y: hidden;
}

.caixaazul ul li a{
    color: white;
    font-size: 22px;
    position: relative;
    left: 15px;
    top: 5px;
}

.materias{
    width: 95%;
    height: 80px;
    background-color: #941717;
    margin-left: 20px;
    margin-top:20px;
}

.materias  h1{
    color: white;
    margin-left: 320px;
    margin-top: 16px;
    font-size: 42px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.section-csgo{
    display: inline-block;
    width: 400px;
}

.img-csgo{
    margin-left: 20px;
    margin-top: 20px;
    width: 100%;
    display: inline-block;
}



.artigos {
    color: white;
    margin-top: 2%;
    margin-left: 10%;
}

.artigos h1 {
    font-size: 30px;
}

.ajuda {
    color: white;   
    margin-left: 25%;
    margin-top: -12.2%;
}

.ajuda h1 {
    font-size: 30px;
}

.jn {
    color: white;
    margin-left: 40%;
    margin-top: -6.5%;
}

.jn h1 {
    font-size: 30px;
}

.contato {
    color: white;
    margin-left: 58%;
    margin-top: -12%;
}

.contato h1 {
    font-size: 30px;
}

.icones{
    margin-top: -13%;
}

.icones img{
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-left: 90%;
}

/*Ao vivo*/

.ao-vivo{
    width: 100%;
}

.ao-vivo iframe{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 4%;
}
/*Ao vivo fim*/

/*Musica*/

.main-musica div{
    border: 1px solid black;
    width: 155px;
    height: 155px;
    margin-left: 50px;
    
}

.main-musica section{
    margin-top: 62px;
}

.main-musica .txt1{
    width: 600px;
    margin-top: -100px;
    float: right;
}

.main-musica .img2{
    float: right;
}
.main-musica .txt2{
    margin-top: 50px;
    width: 600px;
    float: left;
}
.aside-musica{
    float: right;
}
/*Música fim*/
